@using CarWorkshop.Application.CarWorkshop;
@using CarWorkshop.Application.CarWorkshop.Commands.CreateCarWorkshop;

@model CreateCarWorkshopCommand //dodajemy model aby wyświetlić info o walidacji

<h3 style="font-weight:normal">Create Car Workshop</h3>
<hr /> @*pozioma linia*@

<div class="row">
    <div class="col-md-4">@*bierzemy 4 z 12 kolumn, czyli 1/3 szerokości ekranu*@
        <form action="/CarWorkshop/Create" method="post">@*przekujemy do jakiej akcji mają być przesłane dane*@
            <div class="form-group mb-3"> @*mb3 margines na dole*@
                <label class="control-label" asp-for="Name">Name</label>
                @*asp-for powoduje zachowanie wpisanych danych po ponownym wyświetleniu widoku, w przypadku błędu walidacji*@
                @*jako wartość podajemy nazwę pola w modelu dto, musi być dokładnie tak samo bo mamy silne typowanie*@
                <input class="form-control" type="text" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3"> @*for mowi z którym elementem skojarzony jest label, podajemy id inputu*@
                <label class="control-label" asp-for="Description">Description</label>
                <input class="form-control" type="text" asp-for="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mb-3"> 
                <label class="control-label" asp-for="About">About</label>
                <input class="form-control" type="text" asp-for="About">   
            </div>

            <div class="form-group mb-3"> 
                <label class="control-label" asp-for="PhoneNumber">Phone Number</label>
                <input class="form-control" type="text" asp-for="PhoneNumber">  
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group mb-3"> 
                <label class="control-label" asp-for="Street">Street</label>
                <input class="form-control" type="text" asp-for="Street">   
            </div>

            <div class="form-group mb-3"> 
                <label class="control-label" asp-for="City">City</label>
                <input class="form-control" type="text" asp-for="City">   
            </div>

            <div class="form-group mb-3"> 
                <label class="control-label" asp-for="PostalCode">Postal Code</label>
                <input class="form-control" type="text" asp-for="PostalCode">   
            </div>
            <input type="submit" value="Create" class="btn btn-primary">
        </form>
    </div>
</div>

@*dzięki temu kodowi walidacja będzie się wykonywała po stronie frontu (w locie)*@
@* argumentem jest nazwa pliku w folderze Shared*@
@* mozna tak bo Layout na samym dole mamy RenderSectionAsync("Scripts", required: false)*@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}