@{
    //dobra praktyka - jeden blok kodu na górze
    //return w switch zamiast break kończy rendeowanie strony. Nic co po switch się nie pojawi.
    ViewData["Title"] = "Privacy Policy";
    var currentYear = DateTime.Now.Year;
    var dayOfWeek = DateTime.Now.DayOfWeek;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>It is @currentYear year</p>

@if(dayOfWeek == DayOfWeek.Saturday || dayOfWeek == DayOfWeek.Sunday)
{
    <p>It is weekend!</p>
}
else
{
    <p>Not yet the weekend.</p>
}

@switch (dayOfWeek)
{
    case DayOfWeek.Monday:
        <p>It's Monday :(</p>
        break;
    default:
        <p>It's not Monday :)</p>
        break;
}
